package views

import (
	"fmt"
	"strconv"
)

// @island comments endpoint=/api/comments/{post_id} method=GET render=/static/comments.js trigger=click
// @island delete-comment endpoint=/api/delete_comment/{comment_id} method=POST render=/static/comments.js trigger=click renderer=comments
templ PostCard(p Post) {
	<div class="post">
		<div class="post-header">
			<span class="author">Autor { p.AuthorID }</span>
			@FollowButton(p.AuthorID, p.Following)
		</div>
		<p class="post-text">{ p.Text }</p>
		if p.Image != "" {
			<img class="post-image" src={ p.Image } alt={ p.Text }></img>
		}
		<div class="post-actions">
			@LikeButton(p)
		</div>
		<div class="comments">
			<button
				class="comments-toggle"
				data-island="comments"
				data-trigger="click"
				data-post-id={ strconv.Itoa(p.ID) }
				data-target={ fmt.Sprintf("#comments-%d", p.ID) }
			>
				Ver comentarios
			</button>
			<div id={ fmt.Sprintf("comments-%d", p.ID) } class="comments-box"></div>
		</div>
	</div>
}
