package views

// @island post-list endpoint=/api/posts method=GET render=/static/post-list.js trigger=input
// @island post-more endpoint=/api/posts method=GET render=/static/post-list.js trigger=intersect renderer=post-list
templ PostList(posts []Post) {
	@NewPostForm()
	<input
		class="search"
		type="search"
		placeholder="Buscar posts..."
		data-island="post-list"
		data-trigger="input"
		data-target="#feed"
		data-param="q"
	/>
	<div id="feed">
		for _, p := range posts {
			@PostCard(p)
		}
	</div>
	<div
		class="sentinel"
		data-island="post-more"
		data-trigger="intersect"
		data-target="#feed"
		data-param="page"
		data-page="2"
		data-swap="append"
	></div>
}
